Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

In [29]:
import pandas as pd
#def classification_films():
data = pd.read_csv('ratings.csv')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

In [34]:
def classification_films(row):
    if row <= 2.0:
        return 'Низкий рейтинг'
    elif row <= 4.0:
        return 'Средний рейтинг'
    elif row == (4.5 or 5.0):
        return 'Высокий рейтинг'

In [39]:
data['class'] = data['rating'].apply(classification_films)
data.head(60)

    userId  movieId  rating   timestamp            class
0        1        2     3.5  1112486027  Средний рейтинг
1        1       29     3.5  1112484676  Средний рейтинг
2        1       32     3.5  1112484819  Средний рейтинг
3        1       47     3.5  1112484727  Средний рейтинг
4        1       50     3.5  1112484580  Средний рейтинг
5        1      112     3.5  1094785740  Средний рейтинг
6        1      151     4.0  1094785734  Средний рейтинг
7        1      223     4.0  1112485573  Средний рейтинг
8        1      253     4.0  1112484940  Средний рейтинг
9        1      260     4.0  1112484826  Средний рейтинг
10       1      293     4.0  1112484703  Средний рейтинг
11       1      296     4.0  1112484767  Средний рейтинг
12       1      318     4.0  1112484798  Средний рейтинг
13       1      337     3.5  1094785709  Средний рейтинг
14       1      367     3.5  1112485980  Средний рейтинг
15       1      541     4.0  1112484603  Средний рейтинг
16       1      589     3.5  1112485557  Средний рейтинг
17       1      593     3.5  1112484661  Средний рейтинг
18       1      653     3.0  1094785691  Средний рейтинг
19       1      919     3.5  1094785621  Средний рейтинг
20       1      924     3.5  1094785598  Средний рейтинг
21       1     1009     3.5  1112486013  Средний рейтинг
22       1     1036     4.0  1112485480  Средний рейтинг
23       1     1079     4.0  1094785665  Средний рейтинг
24       1     1080     3.5  1112485375  Средний рейтинг
25       1     1089     3.5  1112484669  Средний рейтинг
26       1     1090     4.0  1112485453  Средний рейтинг
27       1     1097     4.0  1112485701  Средний рейтинг
28       1     1136     3.5  1112484609  Средний рейтинг
29       1     1193     3.5  1112484690  Средний рейтинг
30       1     1196     4.5  1112484742  Высокий рейтинг
31       1     1198     4.5  1112484624  Высокий рейтинг
32       1     1200     4.0  1112484560  Средний рейтинг
33       1     1201     3.0  1112484642  Средний рейтинг
34       1     1208     3.5  1112484815  Средний рейтинг
35       1     1214     4.0  1094785977  Средний рейтинг
36       1     1215     4.0  1094786082  Средний рейтинг
37       1     1217     3.5  1112484810  Средний рейтинг
38       1     1219     4.0  1094785994  Средний рейтинг
39       1     1222     3.5  1112484637  Средний рейтинг
40       1     1240     4.0  1112485401  Средний рейтинг
41       1     1243     3.0  1112485567  Средний рейтинг
42       1     1246     3.5  1094785759  Средний рейтинг
43       1     1249     4.0  1112485382  Средний рейтинг
44       1     1258     4.0  1094785994  Средний рейтинг
45       1     1259     4.0  1112485440  Средний рейтинг
46       1     1261     3.5  1094786113  Средний рейтинг
47       1     1262     3.5  1112484735  Средний рейтинг
48       1     1266     4.0  1112485371  Средний рейтинг
49       1     1278     4.0  1094785986  Средний рейтинг
50       1     1291     3.5  1112485525  Средний рейтинг
51       1     1304     3.0  1094785720  Средний рейтинг
52       1     1321     4.0  1094786062  Средний рейтинг
53       1     1333     4.0  1112484990  Средний рейтинг
54       1     1348     3.5  1094786056  Средний рейтинг
55       1     1350     3.5  1094786158  Средний рейтинг
56       1     1358     4.0  1112485419  Средний рейтинг
57       1     1370     3.0  1094785764  Средний рейтинг
58       1     1374     4.0  1094785746  Средний рейтинг
59       1     1387     4.0  1112484913  Средний рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region

In [43]:
import pandas as pd
data = pd.read_csv('keywords.csv')
data.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [44]:
def geo_classification(city):
    geo_data = {'Центр': ['москва', 'тула', 'ярославль'],'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }
    for key,value in geo_data.items():
        if city in value:
            return key
        else:
            return 'None'

In [47]:
data['region'] = data['keyword'].apply(geo_classification)
data.head()

         keyword     shows region
0             вк  64292779   None
1  одноклассники  63810309   None
2          порно  41747114   None
3           ютуб  39995567   None
4      вконтакте  21014195   None

Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [48]:
import pandas as pd
data = pd.read_csv('movies.csv')
data.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [55]:
years = range(1950,2010)
def prod_year(row):
    for year in years:
        for i in row.split():
            if str((year)) in i:
                return year
    return 1900

In [56]:
data['year'] =data['title'].apply(prod_year)
data.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995