Вы получили основные навыки обработки данных, теперь пора испытать их на практике. Сейчас вам предстоит заняться задачей классификации.

Представлен датасет центра приюта животных, и вашей задачей будет обучить модель таким образом, чтобы  по определенным признакам была возможность максимально уверенно предсказать метки 'Adoption' и 'Transfer' (столбец “outcome_type”).

Здесь вы вольны делать что угодно. Я хочу видеть от вас:
1. Проверка наличия/обработка пропусков
2. Проверьте взаимосвязи между признаками
3. Попробуйте создать свои признаки
4. Удалите лишние
5. Обратите внимание на текстовые столбцы. Подумайте, что можно извлечь полезного оттуда
6. Использование профайлера вам поможет.
7. Не забывайте, что у вас есть PCA (Метод главных компонент). Он может пригодиться.

Вспомните о всем, что я говорил на предыдущих занятиях. Не все будет пригодится, но в жизни вам никто не будет говорить, что использовать :)

Хорошим классификатором для этой задачи будет "Случайный лес" (https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)

Понимать суть работы "леса" не обязательно на данном этапе, но качество предсказаний будет выше, чем с линейным классификатором. (если желаете, вот гайд https://adataanalyst.com/scikit-learn/linear-classification-method/)

Желаю успеха :)

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import seaborn as sns
from matplotlib import pyplot as plt

data = pd.read_csv("aac_shelter_outcomes.csv")
data.head(20)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
5,4 months,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,*Edgar,Partner,Transfer,Intact Male
6,1 year,A693700,Other,Squirrel Mix,Tan,2013-12-13T00:00:00,2014-12-13T12:20:00,2014-12-13T12:20:00,NaN,Suffering,Euthanasia,Unknown
7,3 years,A692618,Dog,Chihuahua Shorthair Mix,Brown,2011-11-23T00:00:00,2014-12-08T15:55:00,2014-12-08T15:55:00,*Ella,Partner,Transfer,Spayed Female
8,1 month,A685067,Cat,Domestic Shorthair Mix,Blue Tabby/White,2014-06-16T00:00:00,2014-08-14T18:45:00,2014-08-14T18:45:00,Lucy,NaN,Adoption,Intact Female
9,3 months,A678580,Cat,Domestic Shorthair Mix,White/Black,2014-03-26T00:00:00,2014-06-29T17:45:00,2014-06-29T17:45:00,*Frida,Offsite,Adoption,Spayed Female
10,1 year,A675405,Cat,Domestic Medium Hair Mix,Black/White,2013-03-27T00:00:00,2014-03-28T14:55:00,2014-03-28T14:55:00,Stella Luna,NaN,Return to Owner,Spayed Female
11,2 years,A673652,Dog,Papillon/Border Collie,Black/White,2012-02-28T00:00:00,2014-03-28T14:39:00,2014-03-28T14:39:00,Fancy,Partner,Transfer,Neutered Male
12,2 months,A677679,Dog,Chihuahua Shorthair/Pomeranian,Black,2014-03-07T00:00:00,2014-05-26T19:10:00,2014-05-26T19:10:00,Kash,Foster,Adoption,Neutered Male
13,4 years,A640655,Dog,Miniature Schnauzer/Miniature Poodle,White,2009-04-27T00:00:00,2014-04-25T11:17:00,2014-04-25T11:17:00,Sandy,NaN,Return to Owner,Spayed Female
14,8 years,A690350,Dog,Labrador Retriever Mix,Black,2006-10-18T00:00:00,2014-10-26T18:20:00,2014-10-26T18:20:00,Shy,NaN,Return to Owner,Neutered Male
15,2 years,A680396,Dog,Rat Terrier Mix,White/Black,2012-06-02T00:00:00,2014-06-15T15:11:00,2014-06-15T15:11:00,*Truman,Partner,Transfer,Neutered Male
16,1 year,A674298,Dog,Pit Bull Mix,Brown Brindle/White,2013-03-11T00:00:00,2014-04-16T12:51:00,2014-04-16T12:51:00,*Newt,Partner,Transfer,Neutered Male
17,3 weeks,A670420,Cat,Domestic Shorthair Mix,Black/White,2013-12-16T00:00:00,2014-01-09T19:29:00,2014-01-09T19:29:00,NaN,Partner,Transfer,Intact Male
18,2 months,A692378,Dog,German Shepherd/Labrador Retriever,Black/White,2014-10-19T00:00:00,2014-12-21T18:20:00,2014-12-21T18:20:00,*Bonnie,Foster,Adoption,Spayed Female
19,2 months,A684460,Cat,Domestic Shorthair Mix,Brown Tabby,2014-06-02T00:00:00,2014-08-13T15:04:00,2014-08-13T15:04:00,Elsa,NaN,Adoption,Spayed Female

Выдвенем несколько гипотез. На решение оставить животное или забрать в большей тепени могут влиять параметры

In [3]:
data.describe()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
count,78248,78256,78256,78256,78256,78256,78256,78256,54370,35963,78244,78254
unique,46,70855,5,2128,525,5869,64361,64361,14574,19,9,5
top,1 year,A706536,Dog,Domestic Shorthair Mix,Black/White,2014-05-05T00:00:00,2016-04-18T00:00:00,2016-04-18T00:00:00,Bella,Partner,Adoption,Neutered Male
freq,14355,11,44242,23335,8153,112,39,39,344,19660,33112,27784

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78256 entries, 0 to 78255
Data columns (total 12 columns):
age_upon_outcome    78248 non-null object
animal_id           78256 non-null object
animal_type         78256 non-null object
breed               78256 non-null object
color               78256 non-null object
date_of_birth       78256 non-null object
datetime            78256 non-null object
monthyear           78256 non-null object
name                54370 non-null object
outcome_subtype     35963 non-null object
outcome_type        78244 non-null object
sex_upon_outcome    78254 non-null object
dtypes: object(12)
memory usage: 7.2+ MB

In [5]:
data["age_upon_outcome"].unique()

array(['2 weeks', '1 year', '9 years', '5 months', '4 months', '3 years',
       '1 month', '3 months', '2 years', '2 months', '4 years', '8 years',
       '3 weeks', '8 months', '12 years', '7 years', '5 years', '6 years',
       '5 days', '10 months', '4 weeks', '10 years', '2 days', '6 months',
       '14 years', '11 months', '15 years', '7 months', '13 years',
       '11 years', '16 years', '9 months', '3 days', '6 days', '4 days',
       '5 weeks', '1 week', '1 day', '1 weeks', '0 years', '17 years',
       '20 years', '18 years', '19 years', '22 years', '25 years', nan],
      dtype=object)

In [6]:
data["age_upon_outcome"].value_counts()

1 year       14355
2 years      11194
2 months      9213
3 years       5157
3 months      3442
1 month       3344
4 years       2990
5 years       2691
4 months      2425
5 months      1951
6 months      1897
6 years       1810
8 years       1554
7 years       1537
3 weeks       1467
2 weeks       1330
10 months     1204
4 weeks       1194
8 months      1178
10 years      1159
7 months       963
9 years        822
9 months       673
12 years       609
1 weeks        513
11 months      490
11 years       429
1 week         427
13 years       389
14 years       253
3 days         235
2 days         217
15 years       208
1 day          153
6 days         152
4 days         136
5 days         116
16 years       101
0 years         95
5 weeks         61
17 years        58
18 years        26
19 years        13
20 years        12
22 years         4
25 years         1
Name: age_upon_outcome, dtype: int64

In [7]:
data.isnull().sum()

age_upon_outcome        8
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                23886
outcome_subtype     42293
outcome_type           12
sex_upon_outcome        2
dtype: int64

In [8]:
data['age_upon_outcome'].fillna('1 year', inplace = True)

In [9]:
data.isnull().sum()

age_upon_outcome        0
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                23886
outcome_subtype     42293
outcome_type           12
sex_upon_outcome        2
dtype: int64

In [10]:
data['sex_upon_outcome'].fillna('Neutered Male', inplace = True)

In [11]:
data.isnull().sum()

age_upon_outcome        0
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                23886
outcome_subtype     42293
outcome_type           12
sex_upon_outcome        0
dtype: int64

In [12]:
data['outcome_type'].fillna('Adoption', inplace = True)

In [13]:
data.isnull().sum()

age_upon_outcome        0
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                23886
outcome_subtype     42293
outcome_type            0
sex_upon_outcome        0
dtype: int64

In [14]:
data['outcome_subtype'].fillna('Partner', inplace = True)
data['name'].fillna('Bella', inplace = True)

In [15]:
data.isnull().sum()

age_upon_outcome    0
animal_id           0
animal_type         0
breed               0
color               0
date_of_birth       0
datetime            0
monthyear           0
name                0
outcome_subtype     0
outcome_type        0
sex_upon_outcome    0
dtype: int64

In [16]:
data.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,Bella,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,Partner,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,Bella,Rabies Risk,Euthanasia,Unknown

Признаки datetime и monthyear не несут большой информации их можно удалить из датасета, а date_of_birth - избыточен, так как эта информация указана в age_upon_outcome,animal_id- не несет информации

In [17]:
data.drop(['datetime', 'monthyear', 'date_of_birth','animal_id'], axis='columns', inplace=True)

In [18]:
data.head(10)

,age_upon_outcome,animal_type,breed,color,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,Cat,Domestic Shorthair Mix,Orange Tabby,Bella,Partner,Transfer,Intact Male
1,1 year,Dog,Beagle Mix,White/Brown,Lucy,Partner,Transfer,Spayed Female
2,1 year,Dog,Pit Bull,Blue/White,*Johnny,Partner,Adoption,Neutered Male
3,9 years,Dog,Miniature Schnauzer Mix,White,Monday,Partner,Transfer,Neutered Male
4,5 months,Other,Bat Mix,Brown,Bella,Rabies Risk,Euthanasia,Unknown
5,4 months,Dog,Leonberger Mix,Brown/White,*Edgar,Partner,Transfer,Intact Male
6,1 year,Other,Squirrel Mix,Tan,Bella,Suffering,Euthanasia,Unknown
7,3 years,Dog,Chihuahua Shorthair Mix,Brown,*Ella,Partner,Transfer,Spayed Female
8,1 month,Cat,Domestic Shorthair Mix,Blue Tabby/White,Lucy,Partner,Adoption,Intact Female
9,3 months,Cat,Domestic Shorthair Mix,White/Black,*Frida,Offsite,Adoption,Spayed Female

In [19]:
data['animal_type'].value_counts()

Dog          44242
Cat          29422
Other         4249
Bird           334
Livestock        9
Name: animal_type, dtype: int64

In [20]:
data['color'].value_counts()

Black/White                  8153
Black                        6602
Brown Tabby                  4445
Brown                        3486
White                        2784
Brown/White                  2444
Tan/White                    2394
Brown Tabby/White            2338
Orange Tabby                 2180
White/Black                  2100
Blue/White                   2081
Tricolor                     1982
Tan                          1963
Black/Tan                    1829
White/Brown                  1577
Black/Brown                  1532
Brown Brindle/White          1353
Tortie                       1340
Calico                       1338
Blue                         1326
Brown/Black                  1323
White/Tan                    1160
Blue Tabby                   1130
Orange Tabby/White           1095
Red                          1029
Red/White                     860
Torbie                        845
Brown Brindle                 715
Tan/Black                     607
Chocolate/White               597
                             ...
Tortie/Brown                    1
Tricolor/Orange                 1
Tan/Brown Merle                 1
Blue/Silver                     1
Yellow Brindle/Blue             1
Red Merle/Brown Merle           1
White/Tortie                    1
Blue Cream/Blue Tiger           1
Black Tabby/Black               1
Orange Tabby/Tortie Point       1
Black Brindle/Blue              1
Cream/Cream                     1
Torbie/Calico                   1
Cream/Red Tick                  1
Gray/Tricolor                   1
Calico/Gray Tabby               1
Cream Tabby/Orange              1
Black/Green                     1
Red/Gold                        1
Brown/Pink                      1
Brown Tabby/Agouti              1
Tortie/Blue Tabby               1
Tortie/Tortie                   1
Calico/Calico                   1
Orange Tabby/Brown              1
Fawn/Chocolate                  1
Chocolate/Chocolate             1
Chocolate/Liver Tick            1
Blue Tabby/Tan                  1
Green/Red                       1
Name: color, Length: 525, dtype: int64

In [21]:
#import re
#test = 'White/Lilac Point'
#rez = re.search(r"\/", test)
#print(rez.group())
def two_color(a):
    import re
    rez = re.search(r"\/", a)
    if rez is None:
        return 0
    else:
        return 1

In [22]:
data['two_color'] = data['color'].apply(two_color)

In [23]:
data.head()

,age_upon_outcome,animal_type,breed,color,name,outcome_subtype,outcome_type,sex_upon_outcome,two_color
0,2 weeks,Cat,Domestic Shorthair Mix,Orange Tabby,Bella,Partner,Transfer,Intact Male,0
1,1 year,Dog,Beagle Mix,White/Brown,Lucy,Partner,Transfer,Spayed Female,1
2,1 year,Dog,Pit Bull,Blue/White,*Johnny,Partner,Adoption,Neutered Male,1
3,9 years,Dog,Miniature Schnauzer Mix,White,Monday,Partner,Transfer,Neutered Male,0
4,5 months,Other,Bat Mix,Brown,Bella,Rabies Risk,Euthanasia,Unknown,0

In [24]:
def mix_breed(a):
    import re
    rez1 = re.search(r"Mix", a)
    if rez1 is None:
        return 0
    else:
        return 1

In [25]:
data['mix_breed'] = data['breed'].apply(mix_breed)

In [26]:
data.head(15)

,age_upon_outcome,animal_type,breed,color,name,outcome_subtype,outcome_type,sex_upon_outcome,two_color,mix_breed
0,2 weeks,Cat,Domestic Shorthair Mix,Orange Tabby,Bella,Partner,Transfer,Intact Male,0,1
1,1 year,Dog,Beagle Mix,White/Brown,Lucy,Partner,Transfer,Spayed Female,1,1
2,1 year,Dog,Pit Bull,Blue/White,*Johnny,Partner,Adoption,Neutered Male,1,0
3,9 years,Dog,Miniature Schnauzer Mix,White,Monday,Partner,Transfer,Neutered Male,0,1
4,5 months,Other,Bat Mix,Brown,Bella,Rabies Risk,Euthanasia,Unknown,0,1
5,4 months,Dog,Leonberger Mix,Brown/White,*Edgar,Partner,Transfer,Intact Male,1,1
6,1 year,Other,Squirrel Mix,Tan,Bella,Suffering,Euthanasia,Unknown,0,1
7,3 years,Dog,Chihuahua Shorthair Mix,Brown,*Ella,Partner,Transfer,Spayed Female,0,1
8,1 month,Cat,Domestic Shorthair Mix,Blue Tabby/White,Lucy,Partner,Adoption,Intact Female,1,1
9,3 months,Cat,Domestic Shorthair Mix,White/Black,*Frida,Offsite,Adoption,Spayed Female,1,1
10,1 year,Cat,Domestic Medium Hair Mix,Black/White,Stella Luna,Partner,Return to Owner,Spayed Female,1,1
11,2 years,Dog,Papillon/Border Collie,Black/White,Fancy,Partner,Transfer,Neutered Male,1,0
12,2 months,Dog,Chihuahua Shorthair/Pomeranian,Black,Kash,Foster,Adoption,Neutered Male,0,0
13,4 years,Dog,Miniature Schnauzer/Miniature Poodle,White,Sandy,Partner,Return to Owner,Spayed Female,0,0
14,8 years,Dog,Labrador Retriever Mix,Black,Shy,Partner,Return to Owner,Neutered Male,0,1

In [27]:
data['age_upon_outcome'].value_counts()

1 year       14363
2 years      11194
2 months      9213
3 years       5157
3 months      3442
1 month       3344
4 years       2990
5 years       2691
4 months      2425
5 months      1951
6 months      1897
6 years       1810
8 years       1554
7 years       1537
3 weeks       1467
2 weeks       1330
10 months     1204
4 weeks       1194
8 months      1178
10 years      1159
7 months       963
9 years        822
9 months       673
12 years       609
1 weeks        513
11 months      490
11 years       429
1 week         427
13 years       389
14 years       253
3 days         235
2 days         217
15 years       208
1 day          153
6 days         152
4 days         136
5 days         116
16 years       101
0 years         95
5 weeks         61
17 years        58
18 years        26
19 years        13
20 years        12
22 years         4
25 years         1
Name: age_upon_outcome, dtype: int64

In [28]:
data['age_upon_outcome'].value_counts().count()

46

В признаке "age_upon_outcome",мы имеем 46 различных значения - это большое число, чтобы применять OneHotEncoder,попробуем объединить временные признаки в несколько более общих групп. Первая группа (<= пол года); Вторая группа (> пол года <= год); Третья группа (> год <= 10 лет); Четвертая группа(> 10 лет <= 20); Пятая группа (> 20 лет).Создадим эти группы - тем самым сократим кол-во значений с 46 до 5 значений.

In [29]:
data['age_upon_outcome'].replace({"2 months" : "<= 0.5 year", "3 months": "<= 0.5 year", "1 month": "<= 0.5 year", "4 months":"<= 0.5 year", "5 months":"<= 0.5 year", "6 months": "<= 0.5 year","3 weeks": "<= 0.5 year", "2 weeks":"<= 0.5 year","4 weeks":"<= 0.5 year","1 weeks":"<= 0.5 year","3 days":"<= 0.5 year","2 days":"<= 0.5 year", "1 day":"<= 0.5 year","6 days":"<= 0.5 year","4 days":"<= 0.5 year","5 days":"<= 0.5 year","0 years":"<= 0.5 year","5 weeks":"<= 0.5 year","1 week":"<= 0.5 year"}, inplace=True)
data['age_upon_outcome'].replace({"10 month" : "> 0.5 year <= 1 year", "8 months": "> 0.5 year <= 1 year", "7 months": "> 0.5 year <= 1 year", "9 months":"> 0.5 year <= 1 year", "11 months":"> 0.5 year <= 1 year", "1 year":"> 0.5 year <= 1 year","10 months":"> 0.5 year <= 1 year"}, inplace=True)
data['age_upon_outcome'].replace({"2 years" : "> 1 year <= 10 year", "3 years": "> 1 year <= 10 year", "4 years": "> 1 year <= 10 year", "5 years":"> 1 year <= 10 year", "6 years":"> 1 year <= 10 year", "8 years":"> 1 year <= 10 year","7 years":"> 1 year <= 10 year","10 years":"> 1 year <= 10 year","9 years":"> 1 year <= 10 year"}, inplace=True)
data['age_upon_outcome'].replace({"12 years" : "> 10 year <= 20 year", "11 years": "> 10 year <= 20 year", "13 years": "> 10 year <= 20 year", "14 years":"> 10 year <= 20 year", "15 years":"> 10 year <= 20 year", "16 years":"> 10 year <= 20 year","17 years":"> 10 year <= 20 year","18 years":"> 10 year <= 20 year","19 years":"> 10 year <= 20 year","20 years":"> 10 year <= 20 year"}, inplace=True)
data['age_upon_outcome'].replace({"22 years" : "> 20 year", "25 years": "> 20 year"}, inplace=True)


#data.loc[data["age_upon_outcome"] == "2 months","3 months","1 month","4 months","5 months","6 months","3 weeks","2 weeks","4 weeks","1 weeks","1 week","3 days","2 days","1 day","6 days","4 days","5 days","0 years","5 weeks"] = "<= 0.5 year"
#data.loc[data["age_upon_outcome"] == "10 months","8 months","7 months","9 months","11 months","1 year"] = "> 0.5 year <= 1 year"
#data.loc[data["age_upon_outcome"] == "2 years","3 years","4 years","5 years","6 years","8 years","7 years","10 years","9 years"] = "> 1 year <= 10 year"
#data.loc[data["age_upon_outcome"] == "12 years","11 years","13 years","14 years","15 years","16 years","17 years","18 years","19 years","20 years"] = "> 10 year <= 20 year"
#data.loc[data["age_upon_outcome"] == "22 years","25 years"] = "> 20 year"

In [30]:
data.head()

,age_upon_outcome,animal_type,breed,color,name,outcome_subtype,outcome_type,sex_upon_outcome,two_color,mix_breed
0,<= 0.5 year,Cat,Domestic Shorthair Mix,Orange Tabby,Bella,Partner,Transfer,Intact Male,0,1
1,> 0.5 year <= 1 year,Dog,Beagle Mix,White/Brown,Lucy,Partner,Transfer,Spayed Female,1,1
2,> 0.5 year <= 1 year,Dog,Pit Bull,Blue/White,*Johnny,Partner,Adoption,Neutered Male,1,0
3,> 1 year <= 10 year,Dog,Miniature Schnauzer Mix,White,Monday,Partner,Transfer,Neutered Male,0,1
4,<= 0.5 year,Other,Bat Mix,Brown,Bella,Rabies Risk,Euthanasia,Unknown,0,1

In [31]:
data['age_upon_outcome'].value_counts()

> 1 year <= 10 year     28914
<= 0.5 year             28368
> 0.5 year <= 1 year    18871
> 10 year <= 20 year     2098
> 20 year                   5
Name: age_upon_outcome, dtype: int64

In [32]:
t_data = data["age_upon_outcome"].get_values().reshape(-1,1)
from sklearn import preprocessing
onehotencoder = preprocessing.OneHotEncoder()
onehotencoder.fit(t_data)
onehotencoder_rez = onehotencoder.transform(t_data).toarray()

In [33]:
onehotencoder_rez

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [40]:
yaer_columns = ['year_{}'.format(i) for i in range(onehotencoder_rez.shape[1])]
year_df = pd.DataFrame(onehotencoder_rez, columns=yaer_columns)
year_df.index = data.index

In [42]:
t_data = pd.concat([data, year_df], axis=1)
#t_data = t_data.drop([''], axis=1)
t_data.head(5)

,age_upon_outcome,animal_type,breed,color,name,outcome_subtype,outcome_type,sex_upon_outcome,two_color,mix_breed,year_0,year_1,year_2,year_3,year_4
0,<= 0.5 year,Cat,Domestic Shorthair Mix,Orange Tabby,Bella,Partner,Transfer,Intact Male,0,1,1.0,0.0,0.0,0.0,0.0
1,> 0.5 year <= 1 year,Dog,Beagle Mix,White/Brown,Lucy,Partner,Transfer,Spayed Female,1,1,0.0,1.0,0.0,0.0,0.0
2,> 0.5 year <= 1 year,Dog,Pit Bull,Blue/White,*Johnny,Partner,Adoption,Neutered Male,1,0,0.0,1.0,0.0,0.0,0.0
3,> 1 year <= 10 year,Dog,Miniature Schnauzer Mix,White,Monday,Partner,Transfer,Neutered Male,0,1,0.0,0.0,1.0,0.0,0.0
4,<= 0.5 year,Other,Bat Mix,Brown,Bella,Rabies Risk,Euthanasia,Unknown,0,1,1.0,0.0,0.0,0.0,0.0

In [85]:
t_data1 = t_data.drop(['age_upon_outcome'], axis=1)
label_data = t_data["outcome_type"].get_values().reshape(-1,1)

label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(label_data)
label_result = label_encoder.transform(label_data)
label_df = pd.DataFrame({'outcome_type1':label_result})
label_df.index = t_data1.index
t_data2 = pd.concat([t_data1, label_df], axis=1)

t_data3 = t_data2.drop(['outcome_type'], axis=1)
t_data3

C:\Users\Alexandr\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Alexandr\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,animal_type,breed,color,name,outcome_subtype,sex_upon_outcome,two_color,mix_breed,year_0,year_1,year_2,year_3,year_4,outcome_type1
0,Cat,Domestic Shorthair Mix,Orange Tabby,Bella,Partner,Intact Male,0,1,1.0,0.0,0.0,0.0,0.0,8
1,Dog,Beagle Mix,White/Brown,Lucy,Partner,Spayed Female,1,1,0.0,1.0,0.0,0.0,0.0,8
2,Dog,Pit Bull,Blue/White,*Johnny,Partner,Neutered Male,1,0,0.0,1.0,0.0,0.0,0.0,0
3,Dog,Miniature Schnauzer Mix,White,Monday,Partner,Neutered Male,0,1,0.0,0.0,1.0,0.0,0.0,8
4,Other,Bat Mix,Brown,Bella,Rabies Risk,Unknown,0,1,1.0,0.0,0.0,0.0,0.0,3
5,Dog,Leonberger Mix,Brown/White,*Edgar,Partner,Intact Male,1,1,1.0,0.0,0.0,0.0,0.0,8
6,Other,Squirrel Mix,Tan,Bella,Suffering,Unknown,0,1,0.0,1.0,0.0,0.0,0.0,3
7,Dog,Chihuahua Shorthair Mix,Brown,*Ella,Partner,Spayed Female,0,1,0.0,0.0,1.0,0.0,0.0,8
8,Cat,Domestic Shorthair Mix,Blue Tabby/White,Lucy,Partner,Intact Female,1,1,1.0,0.0,0.0,0.0,0.0,0
9,Cat,Domestic Shorthair Mix,White/Black,*Frida,Offsite,Spayed Female,1,1,1.0,0.0,0.0,0.0,0.0,0
10,Cat,Domestic Medium Hair Mix,Black/White,Stella Luna,Partner,Spayed Female,1,1,0.0,1.0,0.0,0.0,0.0,6
11,Dog,Papillon/Border Collie,Black/White,Fancy,Partner,Neutered Male,1,0,0.0,0.0,1.0,0.0,0.0,8
12,Dog,Chihuahua Shorthair/Pomeranian,Black,Kash,Foster,Neutered Male,0,0,1.0,0.0,0.0,0.0,0.0,0
13,Dog,Miniature Schnauzer/Miniature Poodle,White,Sandy,Partner,Spayed Female,0,0,0.0,0.0,1.0,0.0,0.0,6
14,Dog,Labrador Retriever Mix,Black,Shy,Partner,Neutered Male,0,1,0.0,0.0,1.0,0.0,0.0,6
15,Dog,Rat Terrier Mix,White/Black,*Truman,Partner,Neutered Male,1,1,0.0,0.0,1.0,0.0,0.0,8
16,Dog,Pit Bull Mix,Brown Brindle/White,*Newt,Partner,Neutered Male,1,1,0.0,1.0,0.0,0.0,0.0,8
17,Cat,Domestic Shorthair Mix,Black/White,Bella,Partner,Intact Male,1,1,1.0,0.0,0.0,0.0,0.0,8
18,Dog,German Shepherd/Labrador Retriever,Black/White,*Bonnie,Foster,Spayed Female,1,0,1.0,0.0,0.0,0.0,0.0,0
19,Cat,Domestic Shorthair Mix,Brown Tabby,Elsa,Partner,Spayed Female,0,1,1.0,0.0,0.0,0.0,0.0,0
20,Cat,Domestic Shorthair Mix,Brown Tabby/White,Bella,SCRP,Unknown,1,1,0.0,1.0,0.0,0.0,0.0,8
21,Cat,Domestic Shorthair Mix,Black Tabby,Chester,Partner,Neutered Male,0,1,1.0,0.0,0.0,0.0,0.0,0
22,Dog,Beagle Mix,Tan/White,Dolly,Partner,Spayed Female,1,1,0.0,0.0,1.0,0.0,0.0,0
23,Cat,Domestic Shorthair Mix,Orange Tabby,*Oliver,Foster,Neutered Male,0,1,1.0,0.0,0.0,0.0,0.0,0
24,Cat,Domestic Medium Hair Mix,Black/White,*Preston,Partner,Neutered Male,1,1,0.0,1.0,0.0,0.0,0.0,8
25,Dog,Mastiff Mix,Brown Brindle,Olive,Partner,Spayed Female,0,1,0.0,1.0,0.0,0.0,0.0,0
26,Dog,Plott Hound Mix,Brown Brindle/Black,Bella,Partner,Intact Female,1,1,1.0,0.0,0.0,0.0,0.0,8
27,Dog,Labrador Retriever Mix,Yellow,Promise,Partner,Spayed Female,0,1,1.0,0.0,0.0,0.0,0.0,0
28,Dog,Chihuahua Shorthair Mix,Blue/Tan,Minnie,Partner,Intact Female,1,1,1.0,0.0,0.0,0.0,0.0,8
29,Cat,Siamese,Seal Point,*Bumble,Partner,Intact Female,0,0,1.0,0.0,0.0,0.0,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78226,Dog,Jack Russell Terrier Mix,White,Chema,Partner,Intact Male,0,1,0.0,0.0,1.0,0.0,0.0,6
78227,Dog,Akbash Mix,White,Baby,Partner,Neutered Male,0,1,0.0,0.0,1.0,0.0,0.0,0
78228,Cat,Domestic Medium Hair Mix,Brown Tabby/White,Wonder Woman,Partner,Spayed Female,1,1,0.0,1.0,0.0,0.0,0.0,0
78229,Dog,Labrador Retriever Mix,Tan/White,Eisley,Partner,Spayed Female,1,1,0.0,0.0,1.0,0.0,0.0,0
78230,Dog,Labrador Retriever Mix,Black/White,Frankie,Partner,Intact Female,1,1,0.0,0.0,1.0,0.0,0.0,0
78231,Cat,American Shorthair Mix,Blue Tabby/White,Allee Chat,Partner,Intact Female,1,1,1.0,0.0,0.0,0.0,0.0,0
78232,Cat,Domestic Shorthair Mix,Brown Tabby/White,Mia,Partner,Intact Male,1,1,1.0,0.0,0.0,0.0,0.0,0
78233,Cat,Domestic Shorthair Mix,Brown Tabby,Bella,Partner,Neutered Male,0,1,0.0,1.0,0.0,0.0,0.0,8
78234,Dog,Cocker Spaniel Mix,Cream,Bella,Partner,Intact Female,0,1,0.0,0.0,1.0,0.0,0.0,8
78235,Dog,Labrador Retriever,Black,Bernard,Partner,Neutered Male,0,0,0.0,0.0,1.0,0.0,0.0,6
78236,Cat,Domestic Shorthair Mix,Tortie,Luna,Partner,Spayed Female,0,1,1.0,0.0,0.0,0.0,0.0,0
78237,Cat,Domestic Medium Hair Mix,Orange Tabby,Mac,Partner,Neutered Male,0,1,1.0,0.0,0.0,0.0,0.0,0
78238,Dog,Chihuahua Shorthair Mix,Blue/Tricolor,Bella,Partner,Neutered Male,1,1,0.0,1.0,0.0,0.0,0.0,0
78239,Dog,Golden Retriever/Labrador Retriever,White,Bailey,Foster,Spayed Female,0,0,1.0,0.0,0.0,0.0,0.0,0
78240,Dog,Boxer Mix,Red/White,Rigby,Partner,Neutered Male,1,1,0.0,0.0,1.0,0.0,0.0,6
78241,Dog,Yorkshire Terrier Mix,Brown/Black,Bella,Partner,Spayed Female,1,1,0.0,1.0,0.0,0.0,0.0,0
78242,Dog,Pointer Mix,Chocolate/White,Coco,Partner,Spayed Female,1,1,1.0,0.0,0.0,0.0,0.0,0
78243,Dog,Standard Schnauzer,Brown,Bella,Partner,Neutered Male,0,0,1.0,0.0,0.0,0.0,0.0,0
78244,Dog,Black/Tan Hound Mix,Black/Brown,Charlie,Partner,Spayed Female,1,1,1.0,0.0,0.0,0.0,0.0,0
78245,Dog,Golden Retriever/Labrador Retriever,White,Bella,Foster,Spayed Female,0,0,1.0,0.0,0.0,0.0,0.0,0
78246,Dog,Chihuahua Shorthair Mix,Black/Tan,Maxie,Partner,Neutered Male,1,1,0.0,0.0,1.0,0.0,0.0,0
78247,Dog,Border Collie Mix,Black/White,Baily,Partner,Spayed Female,1,1,0.0,0.0,1.0,0.0,0.0,6
78248,Dog,German Shepherd Mix,Tan/Black,Lova,Partner,Intact Female,1,1,0.0,1.0,0.0,0.0,0.0,6
78249,Dog,Border Collie Mix,Black/Gray,Lucas,Partner,Neutered Male,1,1,0.0,0.0,1.0,0.0,0.0,6
78250,Dog,Golden Retriever/Labrador Retriever,Brown/White,Bella,Foster,Neutered Male,1,0,1.0,0.0,0.0,0.0,0.0,0
78251,Dog,Golden Retriever/Labrador Retriever,Brown/White,Bella,Foster,Spayed Female,1,0,1.0,0.0,0.0,0.0,0.0,0
78252,Dog,Mastiff Mix,Blue/White,Max,Partner,Neutered Male,1,1,0.0,0.0,1.0,0.0,0.0,0
78253,Other,Bat Mix,Brown,Bella,Rabies Risk,Unknown,0,1,0.0,1.0,0.0,0.0,0.0,3
78254,Dog,Standard Schnauzer,Red,Bella,Partner,Spayed Female,0,0,1.0,0.0,0.0,0.0,0.0,0
78255,Dog,Labrador Retriever Mix,White/Brown,Bella,Partner,Neutered Male,1,1,1.0,0.0,0.0,0.0,0.0,0

In [87]:
y = t_data3['outcome_type1']
X = t_data3.drop(['outcome_subtype','animal_type','breed','color','name','outcome_type1','sex_upon_outcome'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [89]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
estimator = LinearRegression()
estimator.fit(X_train, y_train) # Обучение

y_pred = estimator.predict(X_test)

print("R2: \t", r2_score(y_test, y_pred))
print("RMSE: \t", np.sqrt(mean_squared_error(y_test, y_pred)))
print("MAE: \t", mean_absolute_error(y_test, y_pred))

R2: 	 0.007343990868208805
RMSE: 	 3.518707452460159
MAE: 	 3.3337596539429866

Наша модель очень плохо предсказывает значения outcome_type1, нужно обогощать данные или пробывать другие алгоритмы обучения модели

In [90]:
import sys
from math import sqrt
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import GridSearchCV
import numpy as np

from sklearn.linear_model import LinearRegression

estimator = LinearRegression()
regression_model = GridSearchCV(estimator, grid_params, cv=5, n_jobs=-1, verbose=1)
regression_model.fit(X_train, y_train)
y_pred = regression_model.predict(X_test)
print("R2: \t", r2_score(y_test, y_pred))
print("RMSE: \t", sqrt(mean_squared_error(y_test, y_pred)))
print("MAE: \t", mean_absolute_error(y_test, y_pred))

NameError: name 'grid_params' is not defined

In [91]:
from sklearn.ensemble import RandomForestClassifier

# Создаём модель леса из сотни деревьев
model = RandomForestClassifier(n_estimators=100, 
                               bootstrap = True,
                               max_features = 'sqrt')
# Обучаем на тренировочных данных
model.fit(X_train, y_train)

# Действующая классификация
rf_predictions = model.predict(X_test)
# Вероятности для каждого класса
rf_probs = model.predict_proba(X_test)[:, 1]

In [98]:
print("R2: \t", r2_score(y_test, rf_probs))
print("RMSE: \t", sqrt(mean_squared_error(y_test, rf_probs)))
print("MAE: \t", mean_absolute_error(y_test, rf_probs))

R2: 	 -1.1369690333553244
RMSE: 	 5.162771301716371
MAE: 	 3.773618188605148